<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!--Title-->
    <title>Medzcool Textbook</title>

    <!--metatags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Medzcoolapp/bootstrap.min.css' %}">

    <!-- CSS -->
    <!--link rel="stylesheet" type="text/css" href="style.css"-->
	<!-- Add additional CSS in static file --> 
	<!--{% load static %} -->
	<link rel="stylesheet" type="text/css" href="{% static 'Medzcoolapp/style.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Typekit -->
    <script src="https://use.typekit.net/axf5hld.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

    <link rel="icon" type="image/png" href="{% static 'Medzcoolapp/favicon.png' %}">
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <img src="img/Navigation_logo.png" class="navbar-brand logo">
                <a class="navbar-brand logo-type" href="#" style="color: #204156">MEDZCOOL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="menu-right"><a style="color: #204156" href="{% url 'chapters' %}">CHAPTERS</a></li>
                    <li class="menu-right"><a href="appendix.html" style="color: #204156">INDEX</a></li>
                    <li class="menu-right"><a href="#" style="color: #204156">SEARCH</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- END NAVIGATION-->
	
	<!-- Inserting Django tags for subsequent pages content-->
	{% block content %}   {% endblock %}
	
    <!--Footer-->
    <footer class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 learn-list">
                            <div class="footer-title">LEARN</div>
                            <ul class="footer-list-learn footer-list">
                                <li>Cardiovascular</li>
                                <li>Dental</li>
                                <li>Dermatologic</li>
                                <li>Endocrine &amp; Metabolic</li>
                                <li>Gastrointestinal</li>
                                <li>Hematology</li>
                                <li>Infectious Disease</li>
                                <li>Immunologic</li>
                                <li>Musculoskeletal</li>
                                <li>Neurologic</li>
                                <li>Psychiatric</li>
                                <li>Renal</li>
                                <li>Reproductive</li>
                                <li>Respiratory</li>
                                <li>Rheumatologic</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="footer-title">THE COMPANY</div>
                            <ul class="footer-list-company footer-list">
                                <li>About Us</li>
                                <li>Contact Us</li>
                                <li>Join Us</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 footer-logo">
                            <img src="img/social media/facebook.png" class="img-responsive social">
                            <img src="img/social media/instagram.png" class="img-responsive social">
                            <img src="img/social media/twitter.png" class="img-responsive social">
                            <img src="img/social media/youtube.png" class="img-responsive social">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--SubFooter-->
    <div class="after-footer">
        <div class="legal"><a href="legal/terms.html"> TERMS OF USE </a> <span>|</span> PRIVACY POLICY </div>
        <div class="copyright">MEDZCOOL LLC &copy; 2016</div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'Medzcoolapp/bootstrap.min.js' %}"></script>
</body>

</html>
