<!DOCTYPE html>

{% extends 'Medzcoolapp/base.html' %}

{% block content %}
	<!--Jumbotron-->
	<div class="jumbotron">
	   <p>MEDICAL EDUCATION WILL NEVER BE THE SAME</p>
	</div>

		<!--Content-->
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis ante scelerisque, rhoncus arcu in, aliquam tortor. Proin malesuada urna leo, vitae cursus elit mollis a. Sed et libero ac arcu dignissim gravida nec at magna. Vestibulum ante
				ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis erat laoreet, commodo orci quis, consectetur sem. Vestibulum ultricies quam in ipsum tempor, faucibus semper odio accumsan. Interdum et malesuada fames ac ante
				ipsum primis in faucibus. Integer eget lacus in arcu egestas maximus a quis ex. Nunc dapibus et augue a feugiat. Cras tempor condimentum pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Nulla facilisi. Mauris vulputate augue vel nibh aliquet efficitur. Sed ut arcu a augue tristique congue. Donec dapibus nisl id scelerisque tempor. Pellentesque suscipit dui turpis. Fusce eget dui et ex finibus ultrices sed id eros. Donec ac
				augue vel sapien maximus malesuada. Vestibulum vehicula cursus consequat. Sed bibendum nunc turpis, auctor pretium ex laoreet non. Maecenas interdum finibus rutrum. Aliquam ut ultrices lacus, ut efficitur odio. Sed finibus, enim ullamcorper
				posuere faucibus, libero diam placerat justo, et interdum nulla massa consectetur dolor. Etiam ut tellus blandit, efficitur libero vitae, dictum dui. Donec sapien mauris, fringilla eu sollicitudin vel, vulputate in lacus. Duis mattis sapien
				in libero eleifend, consequat euismod neque tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam nec dapibus felis, a vulputate metus. Phasellus convallis nibh eget ante semper, vel eleifend
				velit dictum. Phasellus gravida turpis in nibh imperdiet efficitur id et justo. In ut ultrices nulla, eu ultrices mauris. Aliquam id tellus bibendum, scelerisque ante nec, aliquam odio. Cras eu tempus nibh, non sagittis est. Curabitur rhoncus
				eu nisi nec dignissim. In suscipit scelerisque risus at rhoncus. Vivamus varius massa tortor, eget suscipit tortor iaculis nec. Nam rutrum augue quis sagittis consectetur. Praesent eleifend tellus in ligula maximus vehicula. Nullam varius
				tortor dui, et convallis quam iaculis quis. Vivamus ultricies maximus egestas. Ut rhoncus lobortis interdum. Etiam molestie vehicula elit, quis consectetur nibh lacinia sit amet. In hac habitasse platea dictumst. Maecenas vel neque fringilla
				felis imperdiet tristique ac a quam. Vestibulum accumsan laoreet erat vel varius. Donec eu neque blandit elit scelerisque blandit. Sed nec convallis augue. Praesent a lacinia lectus. Sed a sem quis mi pellentesque dignissim. Sed at ornare
				felis. Ut sodales congue tortor, ut pretium sem commodo ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis arcu eu libero rutrum egestas. Phasellus viverra quis turpis vitae varius. Integer nisl felis, sagittis
				sit amet dolor at, fringilla consectetur lacus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis ante scelerisque, rhoncus arcu in, aliquam tortor. Proin malesuada urna leo, vitae cursus elit mollis a. Sed et libero ac arcu dignissim gravida nec at magna. Vestibulum ante
				ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam quis erat laoreet, commodo orci quis, consectetur sem. Vestibulum ultricies quam in ipsum tempor, faucibus semper odio accumsan. Interdum et malesuada fames ac ante
				ipsum primis in faucibus. Integer eget lacus in arcu egestas maximus a quis ex. Nunc dapibus et augue a feugiat. Cras tempor condimentum pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Nulla facilisi. Mauris vulputate augue vel nibh aliquet efficitur. Sed ut arcu a augue tristique congue. Donec dapibus nisl id scelerisque tempor. Pellentesque suscipit dui turpis. Fusce eget dui et ex finibus ultrices sed id eros. Donec ac
				augue vel sapien maximus malesuada. Vestibulum vehicula cursus consequat. Sed bibendum nunc turpis, auctor pretium ex laoreet non. Maecenas interdum finibus rutrum. Aliquam ut ultrices lacus, ut efficitur odio. Sed finibus, enim ullamcorper
				posuere faucibus, libero diam placerat justo, et interdum nulla massa consectetur dolor. Etiam ut tellus blandit, efficitur libero vitae, dictum dui. Donec sapien mauris, fringilla eu sollicitudin vel, vulputate in lacus. Duis mattis sapien
				in libero eleifend, consequat euismod neque tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam nec dapibus felis, a vulputate metus. Phasellus convallis nibh eget ante semper, vel eleifend
				velit dictum. Phasellus gravida turpis in nibh imperdiet efficitur id et justo. In ut ultrices nulla, eu ultrices mauris. Aliquam id tellus bibendum, scelerisque ante nec, aliquam odio. Cras eu tempus nibh, non sagittis est. Curabitur rhoncus
				eu nisi nec dignissim. In suscipit scelerisque risus at rhoncus. Vivamus varius massa tortor, eget suscipit tortor iaculis nec. Nam rutrum augue quis sagittis consectetur. Praesent eleifend tellus in ligula maximus vehicula. Nullam varius
				tortor dui, et convallis quam iaculis quis. Vivamus ultricies maximus egestas. Ut rhoncus lobortis interdum. Etiam molestie vehicula elit, quis consectetur nibh lacinia sit amet. In hac habitasse platea dictumst. Maecenas vel neque fringilla
				felis imperdiet tristique ac a quam. Vestibulum accumsan laoreet erat vel varius. Donec eu neque blandit elit scelerisque blandit. Sed nec convallis augue. Praesent a lacinia lectus. Sed a sem quis mi pellentesque dignissim. Sed at ornare
				felis. Ut sodales congue tortor, ut pretium sem commodo ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis arcu eu libero rutrum egestas. Phasellus viverra quis turpis vitae varius. Integer nisl felis, sagittis
				sit amet dolor at, fringilla consectetur lacus.</p>
		</div>

{% endblock %}
